.bars__content-text {
  width: 23.75;
  font-size: 1.3rem;
  margin-bottom: 33px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
}

.header {
  z-index: 999;
}

.header__logo {
    cursor: pointer;
    margin-right: 15px;
}

.delivery__buttons-submit:hover {
  background-color: #2e4e3f;
  color: white;
  transition: 0.5s;
}

.bars__content {
  display: flex;
  justify-content: center;
  height: 100%;
}

.bars__content-title {
  font-size: 3rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 1.5625rem;
}
