.wrapper {
  transition: transform 1s ease;
  transform: translateY(0vh);
}

.fixed-menu {
  position: fixed;
  top: 20%;
  z-index: 999;
  right: 35px;
}

.fixed-menu__item,
.fixed-menu__item--active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed-menu__item--active .fixed-menu__item-link {
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed-menu__item-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fixed-menu__item--active .fixed-menu__item-link::before {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fixed-menu__item-link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  position: relative;
}

.fixed-menu__item-link::before {
  content: "";
  width: 0.375rem;
  height: 0.375rem;
  display: flex;
  border-radius: 50%;
  background: black;
}
